<style>
    #form1 {
        margin-left: 34%;
    }
</style>
<nav>
    <div class="nav-wrapper default-primary-color">
        <a href="/" class="brand-logo">
            <h4>Katchau S.A</h4>
        </a>

        <a href="#" data-target="submenu" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="sass.html">Sair</a></li>
        </ul>
        <form class=" hide-on-med-and-down" id="form1">
            <div class="input-field" style="max-width: 300pt;">
                <input id="search" type="search" required onkeyup="getBlogs(this.value,0);">
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
                <div id="searchResults"></div>
            </div>
        </form>
    </div>
</nav>

<nav class="hide-on-large-only">
    <div class="nav-wrapper">
        <form>
            <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>

<ul id="submenu" class="sidenav">
    <li><a href="sass.html">Contato</a></li>
    <li><a href="/candidatos">Trabalhe Conosco</a></li>
    <li><a href="badges.html">Login</a></li>
    <li><a href="/carrinho">Meu Carrinho</a></li>
    <li class="search">
        <div class="input-field">
            <input type="search" required onkeyup="getBlogs(this.value,1);">
            <label class="label-icon" for="search"><i class="material-icons">search</i></label>
            <i class="material-icons">close</i>
            <div id="searchResults2"></div>
        </div>
    </li>
</ul>