<!DOCTYPE html>
<html>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel='stylesheet' href='/stylesheets/materialize.min.css' />
  <link rel='stylesheet' href='/stylesheets/palette.css' />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<style>
  #form1 {
    margin-left: 34%;
  }

  .slider .slides {
    background-color: transparent;
    margin: 0;
    height: 400px;
  }

  .slider .slides li img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: 100% auto;
    background-repeat: no-repeat;
  }
</style>

<body>
  <% include partials/header %>

  <div class="row">
    <% for(produto of produtos){ %>
    <div class="col l3">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <a href="/produtos/<%= produto.procodigo %>">
            <img src="<%= produto.projfotos[0].path%>">
          </a>
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"><%= produto.pronome %><i
              class="material-icons right">more_vert</i></span>
          <p>
            <div class="row" style="text-align: center">
              <a class="waves-effect waves-light btn"><i class="material-icons left">shopping_cart</i>COMPRAR</a>
            </div>
          </p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
          <p>Here is some more information about this product that is only revealed once clicked on.</p>
        </div>
      </div>
    </div>
    <% } %>
  </div>

  <script type="text/javascript" src="javascripts/jquery.js"></script>
  <script type="text/javascript" src="javascripts/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      $('.sidenav').sidenav();
    });
  </script>

</body>

</html>